doctype 5
html(lang="zh-CN")
  head
    title= title
    block headScript
    block style
      link(rel='stylesheet', href='/stylesheets/main.css')
      link(rel='alternate', type='application/rss+xml', title='startuplogs.com', href='/feed')
  body
    div.container
      div.header
        div.nav
        a.logo(href="/")
      div.content
        div.sides
          div.side-title
            | 标签
          div.side-content
            each val, tag in tags
              a.tag(href="/tags/#{tag}") #{tag} (#{val.count})
          div.side-title
            | 链接
          div.side-content
            a.tag(href="/feed") RSS订阅本站
            a.tag(href="http://yuantiku.com") 猿题库
            a.tag(href="http://blog.devtang.com") 唐巧的技术博客
          div.side-title
            | 介绍
          div.side-content
            div.tag 本网站由<a href="http://yuantiku.com">猿题库</a>联合创始人<a href="http://weibo.com/bineon">@郭常圳</a>创办，记录自己创业过程中的一些想法，也分享业内创业公司产品技术实践。如果你愿意分享创业过程中的各种经验，请联系我。
        div.main-wrapper
          block content
      div.footer
        | Powered by 
        a(href="https://github.com/bineon/trochilus") TROCHILUS
        |, Hosted by 
        a(href="http://www.linode.com/?r=c1716dc5f6d450521788829b2bc82c0f8f688a0d") linode.com
    block footScript
      script(src='/javascripts/jquery.js')
      script(src='/javascripts/underscore.js')
      | <script type="text/javascript">
      |    var _gaq = _gaq || [];
      |    _gaq.push(['_setAccount', 'UA-38535571-1']);
      |    _gaq.push(['_setDomainName', 'startuplogs.com']);
      |    _gaq.push(['_trackPageview']);

      |    (function() {
      |      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      |      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      |      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      |    })();
      |  </script>
